---
layout: layouts/base.njk
title: Works
---
<h1>Works <span class="ja">仕事</span></h1>
<ul class="work-list">
  {%- for work in collections.works | reverse %}
  <li>
    <a href="{{ work.url }}">
      <span>{{ work.data.title }}</span>
      <span class="work-year">{{ work.data.year }}</span>
    </a>
  </li>
  {%- endfor %}
</ul>
