<header class="site-header">
  <a href="/" class="site-name">{{ site.title }}</a>
  <nav>
    <a href="/about/">About</a>
    <a href="/works/">Works</a>
    <a href="/journal/">Journal</a>
    <a href="/contact/">Contact</a>
  </nav>
</header>
